<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel='stylesheet' href='/style.css'>
</head>
<body>
  <header>
    <h1>My pizza Shop</hi>
      <img src="https://www.svgrepo.com/show/7292/pizza.svg" height="60" width="60">
  </header>
  <nav>
    <a href="/pizzas"> All Orders</a>
    <a href="/pizzas/new">Order Pizza</a>
  </nav>
  <main>
    <%= yield %>
  </main>
  <aside>
    <p><a>Today's offer</a></p>
  </aside>
  <footer>
    Call us on 0131 460000
  </footer>


</body>
</html>
