<h2>Pizza Details</h2>

<p>Customer: <%= @pizza.pretty_name %></p>
<p>Pizza Topping: <%= @pizza.topping %></p>
<p>Quantity: <%= @pizza.quantity %></p>
<p><a href="/pizzas/<%= @pizza.id %>/edit">Edit Order</a></p>
